.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 16px;
  padding: 32px;
}

.centered {
  margin-top: 64px;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 40vh;
}